body {
    background-color: black;
    width:100%;
    height:100%;
   
}
header {
    background-color: orange;
    display: flex;
    position: fixed;
    width: 900px;
    height: 250px;
    top: 0;
    left: 0;
    overflow: hidden;
}


#vs-logo1 {

    width: 90px;
    height: 90px;
    position: absolute;
    left: 45%;  
}
.perso1-exp{
    width:40px;
    height: 40px;
    position: absolute;
    left:7px;
    top:7px;
    z-index:210;
    color:white;
    display:flex;
}
#niv-1{
    left:50%;
    top:50%;
    z-index:210;
    color:white;
    display:flex;
    position: absolute;
}

#lvl-star1 {
    width:40px;
    height: 40px;
    position:relative;
    right:7px;
    top:7px;
    z-index:200;     
}
.perso2-exp{
    width:40px;
    height: 40px;
    position: absolute;
    right:7px;
    top:7px;
    z-index:210;
    color:white;
    display:flex;
}
#niv-2{
    left:50%;
    top:50%;
    z-index:210;
    color:white;
    display:flex;
    position: absolute;
}
#lvl-star2 {
    width:40px;
    height: 40px;
    position:relative;
    right:7px;
    top:7px;
    z-index:200;  
}

#img1 {
    background-size: 50px 50px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10%;
    max-width: 100%;
    width: 90px;
    position: absolute;
    left: 10px;
    margin-top: 10px;
    color: white;
    z-index: 100;
}
.perso1-nom {
      
    width: 200px;
    height: 22px;
    position: absolute;
    left: 104px;
    top: 10px;
    color: white;
    align-content: center;
    text-align: center;
    z-index:1;
}

    .perso1-nom:before {
        content: " ";
        background: brown;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        position: absolute;
        top: 0;
        left: -10px;
        right: -10px;
        bottom: 0;
        z-index: -1;
        transform: skewX(-15deg);
    }
.perso1-vie {
    background-color: limegreen;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 200px;
    height: 25px;
    position: absolute;
    left: 104px;
    top: 33px;
    color: white;
    align-content: center;
    text-align: center;
}
.perso1-stamina {
    background-color: gold;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 195px;
    height: 15px;
    position: absolute;
    left: 104px;
    top: 60px;
    color: white;
    text-align: center;
    align-content: center;
    z-index:-1;
}


#img2 {
    background-size: 50px 50px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10%;
    max-width: 100%;
    display: flex;
    right: 10px;
    position: absolute;
    width: 90px;
    margin-top: 10px;
    z-index: 100;
}
.perso2-nom {
    width: 200px;
    height: 22px;
    position: absolute;
    right: 104px;
    top: 10px;
    color: white;
    align-content: center;
    text-align: center;
    z-index: 1;
}
.perso2-nom:before {
    content: " ";
    background: brown;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    bottom: 0;
    z-index: -1;
    transform: skewX(15deg);
}
.perso2-vie {
    background-color: limegreen;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 200px;
    height: 25px;
    position: absolute;
    right: 104px;
    top: 33px;
    color: white;
    text-align: center;
    align-content: center;
}
.perso2-stamina {
    background-color: gold;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 195px;
    height: 15px;
    position: absolute;
    right: 104px;
    top: 60px;
    color: white;
    text-align: center;
    align-content: center;
    z-index: -1;
}