body {
    background-color: green;
    width: 100%;
    height: 100%;
}

header {
    background-color: orange;
    display: flex;
    position: fixed;
    width: 900px;
    height: 250px;
    top: 0;
    left: 0;
    overflow: hidden;
}

@keyframes glowing {
    0% { box-shadow: 0 0 -10px lightgray; }
    40% { box-shadow: 3px 0px 10px white; }
    60% {
        box-shadow: 0 0 10px #4494C7;
    }
    100% {
        box-shadow: 5px 0px -10px white;
    }
  }


li {
    list-style-type:none;
}

.perso1 {
    background-color: orange;

}

.perso2 {
    background-color: orange;

}

#vs-logo1 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 45%;
}

.perso1-exp {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 7px;
    top: 7px;
    z-index: 210;
    color: white;
    display: flex;
}

#niv-1 {
    left: 20%;
    top: 30%;
    z-index: 210;
    color: black;
    display: flex;
    position: absolute;
}

#lvl-star1 {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 7px;
    top: 0px;
    z-index: 200;
}

.perso2-exp {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 210;
    color: white;
    display: flex;
}

#niv-2 {
    left: 20%;
    top: 30%;
    z-index: 210;
    color: black;
    display: flex;
    position: absolute;
}

#lvl-star2 {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 7px;
    top: 0px;
    z-index: 200;
}

#img1 {
    background-size: 50px 50px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10%;
    max-width: 100%;
    width: 90px;
    position: absolute;
    left: 10px;
    margin-top: 10px;
    color: white;
    z-index: 100;
}

.perso1-nom {
    width: 200px;
    height: 22px;
    position: absolute;
    left: 104px;
    top: 10px;
    color: white;
    align-content: center;
    text-align: center;
    z-index: 1;
}

.perso1-nom:before {
    content: " ";
    background: brown;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    bottom: 0;
    z-index: -1;
    transform: skewX(-15deg);
}
.perso1-vieSub {
    background-color: brown;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 200px;
    height: 25px;
    position: absolute;
    left: 104px;
    top: 33px;
    color: white;
    text-align: center;
    align-content: center;
}
.perso1-vie {
    background-color: limegreen;
    /*border-style: solid;
    border-color: black;
    border-width: 2px;*/
    position: relative;
    height: 100%;
    width: 100%;
    transition: width .2s linear;
    display: flex;
    z-index: 200;
    text-align: center;
    align-content: center;
    justify-content:center;
}
.hp-p1 {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}



.perso1-stamina {
    background-color: gold;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 195px;
    height: 15px;
    position: absolute;
    left: 104px;
    top: 60px;
    color: white;
    text-align: center;
    align-content: center;
    z-index: -1;
}


#img2 {
    background-size: 50px 50px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10%;
    max-width: 100%;
    display: flex;
    right: 10px;
    position: absolute;
    width: 90px;
    margin-top: 10px;
    z-index: 100;
}

.perso2-nom {
    width: 200px;
    height: 22px;
    position: absolute;
    right: 104px;
    top: 10px;
    color: white;
    align-content: center;
    text-align: center;
    z-index: 1;
}

.perso2-nom:before {
    content: " ";
    background: brown;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    bottom: 0;
    z-index: -1;
    transform: skewX(15deg);

}


.perso2-vieSub {
    background-color: brown;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 200px;
    height: 25px;
    position: absolute;
    right: 104px;
    top: 33px;
    color: white;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content:flex-end; /*Met le début de la barre de vie de dedans vers le bord droit*/
}
.perso2-vie {
    background-color: limegreen;
    /*border-style: solid;
    border-color: black;
    border-width: 2px;*/
    height: 100%;
    width: 100%;
    transition: width .2s linear;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 200;
}
#pv2 {
    position: relative;
    text-align: center;
    z-index: 300;
}

.perso2-stamina {
    background-color: gold;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 195px;
    height: 15px;
    position: absolute;
    right: 104px;
    top: 60px;
    color: white;
    text-align: center;
    align-content: center;
    z-index: -1;
}

/*ZONE DE COMBAT*/

.zone-combat {
    /*background-color: navajowhite;*/
    background: url(images/background/backgroundRPG1.png);
    background-size: cover;
    border-style: double;
    border-width: 5px;
    border-color: goldenrod;
    width: 700px;
    height: 350px;
    z-index: 200;
    position: fixed;
    top: 110px;
    left: 100px;
}

.zone-perso1 {
    width: 90px;
    height: 90px;

    position: absolute;
    top: 190px;
    left: 130px;
    display: flex;
}

.zone-perso1 img {
    max-height: 100%;
    max-width: 100%;
    flex: auto;
    transform: rotateY(-180deg);
}

.zone-perso2 {
    width: 90px;
    height: 90px;

    position: absolute;
    top: 190px;
    right: 130px;
    display: flex;
}

.zone-perso2 img {
    max-width: 100%;
    flex: auto;
}


/*BOUTONS ATK PERSO 1*/
.atk1-norm {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: groove;
    border-width: 3px;
    position: absolute;
    top: 30%;
    left: 8%;
    display: flex;
    box-shadow: 1px 0px 1px 0px #0ff;
}

.btn-atk1-norm {
    
    background-image: url(images/atk_buttons/fist.png);

    background-size: contain;
    text-decoration: none;
    border: none;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    flex: auto;
    animation: glowing 1500ms infinite;
    outline: none;/*remove square box after pushing the button*/
}
.atk1-moy {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: groove;
    border-width: 3px;
    position: absolute;
    top: 45%;
    left: 4%;
    display: flex;
    box-shadow: 1px 0px 1px 0px #0ff;
}

.btn-atk1-moy{
    
    background-image: url(images/atk_buttons/sword.png);

    background-size: contain;
    border: none;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    flex: auto;
    animation: glowing 1500ms infinite;
    outline: none;
}

.atk1-fort {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: groove;
    border-width: 3px;
    position: absolute;
    top: 60%;
    left: 2%;
    display: flex;
    box-shadow: 1px 0px 1px 0px #0ff;
}

.btn-atk1-fort{
    background-image: url(images/atk_buttons/magic.png);

    background-size: contain;
    border: none;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    flex: auto;
    animation: glowing 1500ms infinite;
    outline: none;
}

.atk1-def {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: groove;
    border-width: 3px;
    position: absolute;
    top: 75%;
    left: 3%;
    display: flex;
    box-shadow: 1px 0px 1px 0px #0ff;
}

.btn-atk1-def{
    
    background-image: url(images/atk_buttons/shield.png);

    background-size: contain;
    border: none;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    flex: auto;
    animation: glowing 1500ms infinite;
    outline: none;
}

/*BOUTONS ATK PERSO 2*/

.atk2-norm {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: groove;
    border-width: 3px;
    position: absolute;
    top: 30%;
    right: 8%;
    display: flex;
    box-shadow: 1px 0px 1px 0px #0ff;
}

.btn-atk2-norm {
    background-image: url(images/atk_buttons/fist.png);

    background-size: contain;
    border: none;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    flex: auto;
    animation: glowing 1500ms infinite;
    outline: none;
}

.atk2-moy {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: groove;
    border-width: 3px;
    position: absolute;
    top: 45%;
    right: 4%;
    display: flex;
    box-shadow: 1px 0px 1px 0px #0ff;
}

.btn-atk2-moy {
    background-image: url(images/atk_buttons/sword.png);

    background-size: contain;
    border: none;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    flex: auto;
    animation: glowing 1500ms infinite;
    outline: none;
}

.atk2-fort {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: groove;
    border-width: 3px;
    position: absolute;
    top: 60%;
    right: 2%;
    display: flex;
    box-shadow: 1px 0px 1px 0px #0ff;
}

.btn-atk2-fort {
    background-image: url(images/atk_buttons/magic.png);

    background-size: contain;
    border: none;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    flex: auto;
    animation: glowing 1500ms infinite;
    outline: none;
}

.atk2-def {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: groove;
    border-width: 3px;
    position: absolute;
    top: 75%;
    right: 3%;
    display: flex;
    box-shadow: 1px 0px 1px 0px #0ff;
}

.btn-atk2-def {
    background-image: url(images/atk_buttons/shield.png);

    background-size: contain;
    border: none;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    flex: auto;
    animation: glowing 1500ms infinite;
    outline: none;
}
/*ATTACK FRAMES*/

/*-PERSO1-*/
.zone-perso1-effects {
    width: 150px;
    height: 150px;
    /*background-color:blue;*/
    opacity: 0.6;
    position: relative;
    top: 170px;
    left: 80px;
    display: flex;
    border-style: none;
    z-index: 10;
}




/*-PERSO2-*/
.zone-perso2-effects {
    width: 120px;
    height: 350px;
    /*background-color:blue;
    opacity: 0.5;*/
    position: relative;
    top: -160px;
    left: 470px;
    display: flex;
    border-style: none;
    z-index: 400;
}

.zone-perso2-effects img {
    max-width: 100%;
    
    z-index: 400;
}

.zone-perso2-1-effects {
    width: 120px;
    height: 130px;
    /*background-color: yellow;
    opacity: 0.5;*/
    position: fixed; /*like absolute but with some advantages... */
    top: 290px;
    left: 570px;
    display: flex;
    border-style: none;
    z-index: 400;
}

    .zone-perso2-1-effects img {
        max-width: 100%;
        z-index: 400;
    }



/*ZONE DE MENU*/

.heros {
    width: 40px;
    height: 40px;
    /*background-color: yellow;
    opacity: 0.5;*/
    background: url(images/background/SelectChar.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    position: fixed;
    top: 150px;
    left: 5px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
}
.heros-menubar {
    width: 60px;
    height: 22px;
    position: absolute;
    left: 25px;
    top: 160px;
    color: white;
    align-content: center;
    text-align:  end;
    z-index: 1;
    font-size: 13px;
}

    .heros-menubar:before {
        content: " ";
        background: black;
        border-style: solid;
        border-width: 2px;
        border-color: gold;
        position: absolute;
        top: 0;
        left: -10px;
        right: -10px;
        bottom: 0;
        z-index: -1;
        transform: skewX(-15deg);
    }

.infos {
    width: 40px;
    height: 40px;
    /*background-color: yellow;
    opacity: 0.5;*/
    background: url(images/background/Info.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    position: fixed;
    top: 200px;
    left: 5px;
    z-index: 100;
}
.infos-menubar {
    width: 60px;
    height: 22px;
    position: absolute;
    left: 25px;
    top: 210px;
    color: white;
    align-content: center;
    text-align: end;
    z-index: 1;
    font-size: 13px;
}

    .infos-menubar:before {
        content: " ";
        background: black;
        border-style: solid;
        border-width: 2px;
        border-color: gold;
        position: absolute;
        top: 0;
        left: -10px;
        right: -10px;
        bottom: 0;
        z-index: -1;
        transform: skewX(-15deg);
    }

.shop {
    width: 40px;
    height: 40px;
    /*background-color: yellow;
    opacity: 0.5;*/
    background: url(images/background/Shop.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    position: fixed;
    top: 250px;
    left: 5px;
    z-index: 100;
}

.shop-menubar {
    width: 60px;
    height: 22px;
    position: absolute;
    left: 25px;
    top: 260px;
    color: white;
    align-content: center;
    text-align: end;
    z-index: 1;
    font-size: 13px;
    justify-content: center;
}

    .shop-menubar:before {
        content: " ";
        background: black;
        border-style: solid;
        border-width: 2px;
        border-color: gold;
        position: absolute;
        top: 0;
        left: -10px;
        right: -10px;
        bottom: 0;
        z-index: -1;
        transform: skewX(-15deg);
    }



/*ZONE DE LOG J1*/

.titre-log1 {
    width: 120px;
    height: 30px;
    background-color: rgba(29, 21, 182, 0.9);
    border-radius: 10px;
    border-style: groove;
    border-width: 3px;
    border-color: white;
    position: absolute;
    top: 468px;
    color: white;

    display: block;
    text-align: center;
    align-items: center;
    z-index: 250;
}

.log1 {
    width: 420px;
    height: 100px;
    background-color: rgba(29, 21, 182, 0.9);
    border-radius: 10px;
    border-style: groove;
    border-width: 3px;
    border-color: white;
    position: absolute;
    top: 500px;
    color: white;
    z-index: 250;
    overflow: scroll;
    overflow-x: hidden;
}

/*ZONE DE LOG J2*/

.titre-log2 {
    width: 120px;
    height: 30px;
    background-color: rgba(29, 21, 182, 0.9);
    border-radius: 10px;
    border-style: groove;
    border-width: 3px;
    border-color: white;
    position: absolute;
    left: 770px;
    top: 468px;
    color: white;
    display: block;
    text-align: center;
    align-items: center;
    z-index: 250;
}

.log2 {
    width: 420px;
    height: 100px;
    background-color: rgba(29, 21, 182, 0.9);
    border-radius: 10px;
    border-style: groove;
    border-width: 3px;
    border-color: white;
    position: absolute;
    top: 500px;
    left: 470px;
    color: white;
    z-index: 250;
    overflow: scroll;
    overflow-x: hidden;
}